<div class="user_login">
  <div class="form">
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <h2 class="hidden">Login</h2>
        <h2>Have an account? Sign in</h2>
        <%= f.text_field :email, class: 'input', placeholder: 'Username' %>
        <%= f.password_field :password, class: 'input', placeholder: 'Password' %>
        <%= f.check_box :remember_me, class: 'check-box' %>
        <%= f.label :remember_me %>
        <%= f.submit "Login", class: 'submit' %>
      <% end %>
      <div class="recovery-links">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Reset Password", new_password_path(resource_name), class: 'reset-password' %>
        <% end -%>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: 'signup-link' %>
        <% end -%>
      </div>

    </div>
</div>