<div class="activities_index">
	<table class='activities_history'>
		<%= render partial: 'shared/header' %>
		<h2>Here's the list of students</h2>
		<% index = 1 %>
		<th>S.No</th>
		<th>Name</th>
		<th>View Report</th>
		<th>Delete</th>
		<% @users.each do |user| %>
			<tr>
				<td><%= index %></td>
				<td><%= user.name %></td>
				<td><%= link_to "View Report", activities_path(user: user) %></td>
				<td><%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %></td>
			</tr>
			<% index += 1 %>
		<% end %>
	</table>
</div>