<div class="edit-activity">
	<%= render partial: 'shared/header' %>
	<div class="activities">
		<h2><%= @todays_activity.created_at.strftime('%A, %d %B, %Y') %></h2>
		<% if @todays_activity.start_time == nil %>
			<%= render partial: 'activities/start_form' %>
		<% elsif @todays_activity.end_time == nil %>
			<%= render partial: 'activities/end_form' %>
		<% else %>
		  <%= render partial: 'activities/result' %>
		<% end %>
	</div>
</div>