<div class="activities_index">
	<%= render partial: 'shared/header' %>
	<% if current_user.try(:admin?) %>
		<h2>Here's <%= @user.name.gsub(/\s.*/, '') %>'s attendance report</h2>
	<% else %>
		<h2>Here's what you did last in the last 7 days</h2>
	<% end %>
	<table class='activities_history'>
		<tr>
			<th>S.No.</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Total Time Spent</th>
		</tr>
	<% index = 1 %>
	<% @activities.each do |activity| %>
		<tr>
			<td><%= index %></td>
			<td><%= activity.created_at.strftime('%d %h %Y') %></td>
			<td><%= activity.start_time.strftime('%I:%M %p') if activity.start_time %></td>
			<td><%= activity.end_time.strftime('%I:%M %p') if activity.end_time %></td>
			<td><%= activity.total_time_spent_in_words if(activity.start_time && activity.end_time) %></td>
			<% index += 1 %>
		</tr>
	<% end %>
	</table>
</div>